In [3]:
import numpy as np
import pandas as pd

# 홍길동 씨의 과목별 점수
# 국어: 80 / 영어: 75 / 수학: 55
a = 80
b = 75
c = 55

#평균 점수
average = (a + b +c) /3
print(average)

70.0

In [4]:
# 자연수 13은 홀수? 짝수?
a = 13 % 2
if a:
    print("홀수")
else:
    print("짝수")

홀수

In [6]:
a = 14 % 2
if a:
    print("홀수")
else:
    print("짝수")

짝수

In [13]:
# 홍길동씨의 주민번호 구분

pin = "881120-1068234"

yyyymmdd = pin[0:6]
num = pin[7:]
sex = pin[7]

print("19"+yyyymmdd)
print(num)
print(sex)

19881120
1068234
1

In [15]:
# a:b:c:d > a#b#c#d (replace 함수)

a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [23]:
# 순서 바꾸기
a = [1, 3, 5, 4, 2]
a.sort() #[1, 2, 3, 4, 5]
a.reverse() #[5, 4, 3, 2, 1]
print(a)

[5, 4, 3, 2, 1]

In [28]:
# 리스트를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [35]:
# 튜플에 값 추가하기
a = (1, 2, 3)
a = a + (4,) #숫자가 하나더라도 뒤에 반드시 , 들어가야 한다
print(a)

(1, 2, 3, 4)

In [37]:
# 딕셔너리에서 값 추출
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [38]:
# 리스트에서 중복 숫자 제거하기
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [39]:
# 동일 변수
a = b = [1, 2, 3]
a[1] = 4 #a의 두 번째 값을 변경
print(b)

[1, 4, 3]