In [ ]:
# 숫자형 자료

# 정수형: 정수를 뜻하는 자료형
a = 123
a = -178
a = 0

#실수형: 소수점이 포함된 숫자
a = 1.2
a = -3.45
# 실수형의 소수점 표현 방식
a = 4.24E10
a = 4.24e-10

# 16진수와 8진수는 파이썬에서 잘 사용하지 않음.
# 8진수: 8진수를 만들기 위해서는 숫자가 0+o 또는 0+O 으로 시작
a = 0o177

# 16진수 : 0x로 시작
a = 0x8ff
b = 0xABC

In [4]:
# 사칙연산
a = 3
b = 4

print(a + b) #덧셈
print(a - b) #뺄셈
print(a * b) #곱셈
print(a / b) #나눗셈

7
-1
12
0.75

In [5]:
# ** 연산자: x의 y제곱
a = 3
b = 4

a ** b

81

In [7]:
# % 연산자: 나눗셈 후 나머지를 반환
print(7 % 3)
print(3 % 7)

1
3

In [8]:
#'// 연산자: 나눗셈 후 몫을 반환'
print(7/4) #일반 나눗셈
print(7//4)

1.75
1

In [10]:
# 14를 3으로 나눌 때 몫과 나머지
a = 14
b = 3

print('14를 3으로 나눌 때 몫:', a//b)
print('14를 3으로 나눌 때 나머지:', a%b)

14를 3으로 나눌 때 몫: 4
14를 3으로 나눌 때 나머지: 2

In [11]:
# 문자열 자료형 : 문자, 단어 등 (숫자여도 " "  로 둘러싸여 있으면 다 문자열)
"Life is too short, You need Python"
"a"
"123"

#문자열 만드는 방법
print("Hello World!") #큰따옴표로 둘러싸기
print('Python is fun') #작은 따옴표로 둘러싸기
print("""Life is too short, You need Python""") #큰따옴표 3개 연속으로 둘러싸기
print('''Life is too short, You need Python''') #작은따옴표 3개 연속으로 둘러싸기

Hello World!
Python is fun
Life is too short, You need Python
Life is too short, You need Python

In [14]:
# 문자열 안에 작은따옴표(')나 큰따옴표(")가 들어가야 할 경우

#1. 문자열에 작은따옴표 포함
food = "Python's favorite food is perl"

#2. 큰따옴표 포함
say = '"Python is very easy." he says.'

#3.백슬래시(\) 사용하여 작은따옴표와 큰따옴표 문자열에 포함시키기
food_1 = 'Python\'s favorite food is perl'
say_1 = '\"Python is very easy.\" he says.'

print(food)
print(say)
print(food_1)
print(say_1)

Python's favorite food is perl
"Python is very easy." he says.
Python's favorite food is perl
"Python is very easy." he says.

In [18]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때

#Life is too short
#You need python

#1. \n(이스케이프 코드) 삽입하기
multiline = "Life is too short\nYou need python"

#2. 연속된 작은따옴표 또는 큰따옴표 3개 사용하기
multiline_1 = '''
Life is too short
You need python
'''

print(multiline)
print(multiline_1)

Life is too short
You need python

Life is too short
You need python

In [21]:
# 문자열 연산하기

# 문자열 더하기
head = "Python"
tail = " is fun!"

# 문자열 곱하기
a = "Python"

# 문자열 길이 구하기
b = "Life is too short You need python"

print(head + tail)
print(a * 2)
print(len(b))

Python is fun!
PythonPython
33

In [24]:
# 문자열 인덱싱과 슬라이싱

# 문자열 인덱싱
a = "Life is too short, You need python"

print(a[3])
print(a[12])
print(a[-1]) #마이너스는 뒤에서 부터 읽기
# 0 = -0
print(a[-0])

#문자열 슬라이싱
b = a[0] + a[1] + a[2] + a[3]
print(b)

#슬라이싱 기법: [시작 번호: 끝 번호]
print('슬라이싱 기법:', a[0:4])
print('슬라이싱 기법:', a[7:10])

# 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 출력
print('끝번호 생략:', a[19:])

# 시작 번호 생략하면 문자열의 처음부터 끝 번호까지 출력
print('시작 번호 생략:', a[:17])

# 둘다 생략하면 처음부터 끝까지 출력
print('시작, 끝 생략:', a[:])

# 슬라이싱도 마이너스 사용 가능
print('마이너스:', a[19:-7])

e
s
n
L
Life
슬라이싱 기법: Life
슬라이싱 기법:  to
끝번호 생략: You need python
시작 번호 생략: Life is too short
시작, 끝 생략: Life is too short, You need python
마이너스: You need

In [25]:
# 슬라이싱으로 문자열 나누기
a = "20240613Suuny"
date = a[:8]
weather = a[8:]

print(date)
print(weather)

20240613
Suuny

In [28]:
# 슬라이싱으로 문자열 나누기2
a = "20240613Suuny"
year = a[:4] #4가 포함되지 않음
month = a[4:6] #6이 포함되지 않음
day = a[6:8] #6이 포함됨
weather = a[8:]

print(year)
print(month)
print(day)
print(weather)

2024
06
13
Suuny

In [29]:
# 문자열 바꾸기( 슬라이싱 기법을 활용)
a = "Pithon"
print(a[1])

i

In [30]:
a = "Pithon"
a[:1] + "y" + a[2:]

'Python'

In [34]:
# 문자열 포매팅

#1. 숫자 대입

'I ate %d apples.' %3

'I ate 3 apples.'

In [35]:
# 2 문자 대입
' I ate %s apples.' %'five'

' I ate five apples.'

In [36]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
'I ate %d apples.' %number

'I ate 3 apples.'

In [37]:
#.4 2개 이상의 값 넣기: %괄호 안에 콤마로 구분
number = 10
day = "four"
'I ate %d apples. so I was sick for %s days' %(number, day)

'I ate 10 apples. so I was sick for four days'

In [39]:
# %s 코드
'I have %s apples' % 3

'I have 3 apples'

In [40]:
# %s 코드
'rate is %s' % 3.224

'rate is 3.224'

In [41]:
# %%
'Error is %d%%.' % 98

'Error is 98%.'

In [43]:
# 정렬과 공백
#%10s: 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬
#(나머지는 공백)
'%10s' % 'hi'

'        hi'

In [44]:
#%-10s: 왼쪽 정렬
'%-10s' % 'hi'

'hi        '

In [45]:
# 소수점 표현하기
#'.': 소수점 포인트. 뒤의 숫자는 소수점 뒤 자릿수
'%0.4f' % 3.1423123

'3.1423'

In [46]:
# %10.4f : 숫자를 네번째 자리까지만 표시하고 전체 길이가 10개 (오른쪽 정렬)
'%10.4f' %3.1423123

'    3.1423'

In [47]:
# format 함수

#1. 숫자 바로 대입하기
'I ate {0} apples'.format(3)

'I ate 3 apples'

In [48]:
#2. 문자열 바로 대입하기
'I ate {0} apples'.format('five')

'I ate five apples'

In [49]:
#3. 숫자 값을 가진 변수로 대입하기
number = 3
'I ate {0} apples'.format(number)

'I ate 3 apples'

In [51]:
#4. 2개 이상의 값 넣기
number = 10
day = "four"
'I ate {0} apples. so I was sick for {1} days'.format(number, day)

'I ate 10 apples. so I was sick for four days'

In [52]:
#5. 이름으로 넣기
'I ate {number} apples. so I was sick for {day} days'.format(number=10, day=4)

'I ate 10 apples. so I was sick for 4 days'

In [53]:
# 6. 인덱스와 이름을 혼용해서 넣기
'I ate {0} apples. so I was sick for {day} days'.format(10, day=4)

'I ate 10 apples. so I was sick for 4 days'

In [54]:
# 왼쪽 정렬
'{0:<10}'.format('hi')

'hi        '

In [55]:
# 오른쪽 정렬
'{0:>10}'.format('hi')

'        hi'

In [56]:
# 가운데 정렬
'{0:^10}'.format('hi')

'    hi    '

In [58]:
# 공백 채우기
'{0:=^10}'.format('hi') # 가운데 정렬 공백은 '='로 채움

'====hi===='

In [59]:
# 공백 채우기
'{0:!<10}'.format('hi') # 왼쪽 정렬 공백은 '!'로 채움

'hi!!!!!!!!'

In [60]:
# 소수점 표현하기
y = 3.12312121
'{0:0.4f}'.format(y)

'3.1231'

In [61]:
# 자릿수를 10으로 맞추기
y = 3.12312121
'{0:10.4f}'.format(y)

'    3.1231'

In [62]:
# {또는} 문자 표현하기
'{{and}}'.format()

'{and}'

In [63]:
# f 문자열 포매팅
name = '홍길동'
age = 30
f'나의 이름은 {name} 입니다. 나이는 {age} 입니다.'

'나의 이름은 홍길동 입니다. 나이는 30 입니다.'

In [64]:
# f 문자열 포매팅2
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [68]:
# 딕셔너리 f 문자열 포매팅
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]} 입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 홍길동 입니다. 나이는 30 입니다.'

In [69]:
# 정렬
f'{"hi":<10}' #왼쪽 정렬

'hi        '

In [70]:
f'{"hi":>10}' #오른쪽 정렬

'        hi'

In [71]:
f'{"hi":^10}' #가운데 정렬

'    hi    '

In [73]:
# 공백 채우기
f'{"hi":=^10}' #가운데 정렬, 공백은 = 로 채움

'====hi===='

In [74]:
# 공백 채우기
f'{"hi":!<10}' #왼쪽 정렬, 공백은 ! 로 채움

'hi!!!!!!!!'

In [75]:
# 소수점 표현하기
y = 3.12312121
f'{y:0.4f}' #소수점 네자리까지만 표현

'3.1231'

In [76]:
# 소수점 표현하기
y = 3.12312121
f'{y:10.4f}' #소수점 네자리까지 표현하고 총 자릿수는 10자리

'    3.1231'

In [78]:
# !!!python!!! 출력하기 (format 함수)
print(len('!!!python!!!'))
f'{"python":!^12}'

12

'!!!python!!!'

In [80]:
# !!!python!!! 출력하기 (f 문자열)
'{0:!^12}'.format('python')

'!!!python!!!'

In [81]:
# 문자열 관련 함수

# count (갯수)
a = 'hobby'
print('b의 개수-count:',a.count('b')) #b 의 개수 출력

#find (위치)
b = "Python is the best choice"
print('문자열에서 b가 처음 나온 위치:', b.find('b'))
print('문자열에서 k가 처음 나온 위치:', b.find('k'))

#index(위치 알려주기) #문자가 없으면 에러
c = "Life is too short"
print('t의 위치:', c.index('t'))

b의 개수-count: 2
문자열에서 b가 처음 나온 위치: 14
문자열에서 k가 처음 나온 위치: -1
t의 위치: 8

In [85]:
# 문자열 관련 함수 2

# join (문자열 삽입)
print(','.join('abcd'))
print(','.join(['a', 'b', 'c', 'd']))

# upper (소문자 > 대문자)
a = "hi"
print(a.upper())

# lower (대문자 > 소문자)
b = "HI"
print(b.lower())

#lstrip (왼쪽 공백지우기)
c = "    hi   "
print(c.lstrip())

#rstrip (오른쪽 공백 지우기)
print(c.rstrip())

#strip (양쪽 공백 지우기)
print(c.strip())

a,b,c,d
a,b,c,d
HI
hi
hi
    hi
hi

In [86]:
# 문자열 관련 함수 3

# replace (문자열 바꾸기)
a = "Life is too short"
print(a.replace("Life", "Your leg"))

# split (문자열 나누기)
print(a.split()) # 공백을 기준으로 문자열 나눔

b = "a:b:c:d"
print(b.split(':')) # : 기준으로 문자열 나눔

Your leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [ ]:
# 리스트: 대괄호 [ ] 로 감싸주고 쉼표로 구분
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [4]:
# 리스트의 인덱싱과 슬라이싱
a = [1, 2, 3]

print('첫번째 요솟값:', a[0]) # a[0]은 첫번째 요솟값
print('요솟값 더하기:', a[0] + a[2]) # 요솟값 더하기
print('-1은 마지막 요솟값:', a[-1]) # -1은 마지막 요솟값

# 리스트 + 리스트 요소
b = [1, 2, 3, ['a', 'b', 'c']]
print('\n리스트+ 리스트:', b)
print('첫번째 요솟값:',b[0])
print('마지막 요솟값:', b[-1])
print('네번째 요솟값:', b[3])

print('리스트 내의 값 꺼내기:', b[-1][0])
print('리스트 내의 값 꺼내기:', b[-1][1])
print('리스트 내의 값 꺼내기:', b[-1][2])

첫번째 요솟값: 1
요솟값 더하기: 4
-1은 마지막 요솟값: 3

리스트+ 리스트: [1, 2, 3, ['a', 'b', 'c']]
첫번째 요솟값: 1
마지막 요솟값: ['a', 'b', 'c']
네번째 요솟값: ['a', 'b', 'c']
리스트 내의 값 꺼내기: a
리스트 내의 값 꺼내기: b
리스트 내의 값 꺼내기: c

In [5]:
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is']]]

print('Life 문자열만 추출:', a[2][2][0])

Life 문자열만 추출: Life

In [6]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
print('a의 첫번째부터 두번째:', a[0:2])

# 문자열 슬라이싱
b = "12345"
print('b의 첫번째부터 두번째:', b[0:2])

print('리스트 슬라이싱과 문자열 슬라이싱의 사용법은 같다.')

a의 첫번째부터 두번째: [1, 2]
b의 첫번째부터 두번째: 12
리스트 슬라이싱과 문자열 슬라이싱의 사용법은 같다.

In [7]:
# A = [1, 2, 3, 4, 5] 리스트에서 슬라이싱 기법을 사용하여 리스트 [2, 3] 출력
A = [1, 2, 3, 4, 5]
A[1:3]

[2, 3]

In [8]:
# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print('a[2:5]:', a[2:5])
print('a[3]:', a[3])
print('a[3][:2]:', a[3][:2])

a[2:5]: [3, ['a', 'b', 'c'], 4]
a[3]: ['a', 'b', 'c']
a[3][:2]: ['a', 'b']

In [9]:
# 리스트 연산하기

# 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]

print('리스트 더하기:', a+b)

# 리스트 반복하기
print('리스트 반복하기:', a *3)

# 리스트 길이구하기
print('리스트 길이구하기:', len(a))

리스트 더하기: [1, 2, 3, 4, 5, 6]
리스트 반복하기: [1, 2, 3, 1, 2, 3, 1, 2, 3]
리스트 길이구하기: 3

In [10]:
# 숫자 + 문자 더하기
a = [1, 2, 3]
# 3hi 출력 시, a[2] + "hi" 는 데이터 타입이 다르기 때문에 에러
str(a[2]) + "hi"

'3hi'

In [11]:
# 리스트의 수정과 삭제

# 리스트 수정
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [12]:
# 리스트 삭제 (del 함수)
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

In [13]:
# 요소 여러개 한꺼번에 삭제하기
a = [1, 2, 3, 4, 5]
del a[2:]
print(a)

[1, 2]

In [23]:
# 리스트 요소 추가 (append)
a = [1, 2, 3]
a.append(4)
print(a)

# 리스트에 리스트 요소 추가
b = [1, 2, 3, 4]
c = b.append([5, 6])
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [22]:
# 리스트 정렬 (sort)
a = [4, 5, 1, 2, 8]
a.sort()
a

[1, 2, 4, 5, 8]

In [24]:
# 문자 정렬
a = ['a', 'h', 'c', 'd']
a.sort()
a

['a', 'c', 'd', 'h']

In [25]:
# 리스트 뒤집기 (reverse)
a = ['a', 'h', 'c', 'd']
a.reverse()
a

['d', 'c', 'h', 'a']

In [30]:
# 위치 반환 (index)
a = ['a', 'h', 'c', 'd']
print('h의 위치:', (a.index('h')))

b = [4, 5, 1, 2, 8]
print('2의 위치:', b.index(2))

h의 위치: 1
2의 위치: 3

In [32]:
# 리스트에 요소 삽입 (insert)
a = [1, 2, 3]
a.insert(2, 4) # a[2] 위치에 4 삽입
print(a)

[1, 2, 4, 3]

In [33]:
# 리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #첫번째로 나오는 3 삭제
print(a)

[1, 2, 1, 2, 3]

In [35]:
# 리스트 요소 끄집어내기 (pop)
a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [36]:
# pop(x)
a = [1, 2, 3, 1, 2, 3]
print(a.pop(3))
print(a)

1
[1, 2, 3, 2, 3]

In [37]:
# 리스트에 포함된 요소 x의 개수 세기(count)
a = [1, 2, 3, 1, 2, 3]
a.count(3)

2

In [42]:
# 리스트 확장 (extend)
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [45]:
a = [1, 2, 3]
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 6, 7]

In [46]:
a = [1, 2, 3]
a += [4, 5]
a

[1, 2, 3, 4, 5]

In [ ]:
# 튜플
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [47]:
# 튜플 인덱싱 하기
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [48]:
# 튜플 슬라이싱 하기
t1 = (1, 2, 'a', 'b')
print('1부터 끝까지:', t1[1:])

1부터 끝까지: (2, 'a', 'b')

In [49]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

print(t1 + t2)

# 튜플 곱하기
print(t2 * 2)

# 튜플 길이구하기
print(len(t1))

(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4)
4

In [50]:
# (1, 2, 3) 이라는 튜플에 값 4를 추가하기﻿
a = (1, 2, 3)
a + (4,)

(1, 2, 3, 4)

In [ ]:
# 딕셔너리
a = {1: 'hi'}

# 딕셔너리 Value에는 리스트도 넣을 수 있다.
b = {'a': [1, 2, 3]}

In [3]:
# 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[2] = 'b' #{2:b} 추가
a['name'] = 'Smith' #{name:smith} 추가
a[3] = [1, 2, 3] # 리스트 형 추가
print(a)

{1: 'a', 2: 'b', 'name': 'Smith', 3: [1, 2, 3]}

In [4]:
# 딕셔너리 쌍 삭제하기
a = {1: 'a', 2: 'b', 'name': 'Smith', 3: [1, 2, 3]}
del a[1]
print(a)

{2: 'b', 'name': 'Smith', 3: [1, 2, 3]}

In [6]:
# 딕셔너리를 사용하는 방법

#딕셔너리에서 Key 사용해 Value 얻기
grade = {'John': 10, 'Smith': 99}
print('John의 grade:', grade['John'])
print('Smith의 grade:',grade['Smith'])

# 딕셔너리에는 인덱싱 방법을 적용할 수 없다.
a = {1:'a', 2:'b'}
print(a[1]) # 두 번째 위치가 아닌 Key 1을 의미
print(a[2]) # 세 번째 위치가 아닌 Key 2를 의미

b = {'a':1, 'b':2}
print(b['a'])
print(b['b'])

# Key 사용해 Value 얻기
dic = {'name':'John', 'tel':'021231234', 'birth':'0101'}
print('name의 Key:', dic['name'])
print('tel의 Key:', dic['tel'])
print('birth의 Key:', dic['birth'])

John의 grade: 10
Smith의 grade: 99
a
b
1
2
name의 Key: John
tel의 Key: 021231234
birth의 Key: 0101

In [10]:
# 딕셔너리 주의 사항

# Key 값이 중복되면 안 된다.
a = {1:'a', 1:'b'}
print(a)

# Key 값에 리스트는 사용할 수 없다.
# b = {[1, 2]:'hi'}

# 튜플은 사용가능
b = {(1, 2):'hi'}
print((b[(1, 2)]))

{1: 'b'}
hi

In [12]:
# 딕셔너리 관련 함수

#1.Keys
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}
print('a의 Key 리스트:', a.keys())

for k in a.keys():
    print(k)

#dict_key 객체로 반환하기
print(list(a.keys()))

a의 Key 리스트: dict_keys(['name', 'tel', 'birth'])
name
tel
birth
['name', 'tel', 'birth']

In [13]:
#2. values
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}
print(a.values())

for v in a.values():
    print(v)

print(list(a.values()))

dict_values(['John', '021231234', '0101'])
John
021231234
0101
['John', '021231234', '0101']

In [14]:
#3. items
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}

print(a.items())

dict_items([('name', 'John'), ('tel', '021231234'), ('birth', '0101')])

In [15]:
#4. clear
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}
a.clear()
print(a)

{}

In [20]:
#5. get
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}

print('a의 name:', a.get('name'))
print('a의 tel:', a.get('tel'))

#Key 값이 없을 경우 none 리턴
print('a의 blood type:', a.get('bloodtype'))

# print(a['bloodtype']) 은 에러 발생

# 찾으려는 key 값이 없을 경우 디폴트 값 반환
print('디폴트 반환:', a.get('food', 'default'))

a의 name: John
a의 tel: 021231234
a의 blood type: None
디폴트 반환: default

In [21]:
#6. in
a = {'name':'John', 'tel':'021231234', 'birth':'0101'}

print('name이 있나요?', 'name' in a)
print('blood type이 있나요?', 'bloodtype' in a)

name이 있나요? True
blood type이 있나요? False

In [22]:
# 집합 자료형
s1 = set([1, 2, 3])
print(s1)

# 문자열도 가능
s2 = set("Hello")
print(s2)

# 비어있는 자료형
s3 = set()
print(s3)

{1, 2, 3}
{'H', 'e', 'l', 'o'}
set()

In [23]:
# 집합 자료형의 인덱싱 수행
# 리스트나 튜플로 변환한 후 수행
s1 = set([1, 2, 3])
l1 = list(s1) #리스트로 변환
print(l1)
print(l1[0])

s2 = set([4, 5, 6])
t1 = tuple(s2) #튜플로 변환
print(t1)
print(t1[0])

[1, 2, 3]
1
(4, 5, 6)
4

In [25]:
# 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#교집합 (& 기호 또는 intersection 함수)
print('교집합:', s1 & s2)
print('교집합:', s1.intersection(s2))

# 합집합 ( | 기호 또는 union 함수)
print('합집합:', s1 | s2) #중복된 수는 한 개씩만 표현
print('합집합:', s1.union(s2))

# 차집합 (- 기호 또는 difference 함수)
print('차집합:', s1 - s2)
print('차집합:', s1.difference(s2))
print('차집합:', s2 - s1)
print('차집합:', s2.difference(s1))

교집합: {4, 5, 6}
교집합: {4, 5, 6}
합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합: {1, 2, 3}
차집합: {1, 2, 3}
차집합: {8, 9, 7}
차집합: {8, 9, 7}

In [26]:
# 집합 자료형 관련 함수

#1. add
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

#2. update
s2 = set([4, 5, 6])
s2.update([7, 8, 9])
print(s2)

{1, 2, 3, 4}
{4, 5, 6, 7, 8, 9}

In [29]:
#3. remove
s1 = set([4, 5, 6, 7, 8, 9])
s1.remove(4)
print(s1)

{5, 6, 7, 8, 9}

In [30]:
# 불 자료형
a = True
b = False

print('a타입:', type(a))
print('b타입:', type(b))

# 불 자료형은 조건문의 반환값으로도 사용
print('1 == 1:', 1 == 1)
print('2 > 1:', 2 > 1)
print('2 < 1:', 2 < 1)

a타입: <class 'bool'>
b타입: <class 'bool'>
1 == 1: True
2 > 1: True
2 < 1: False

In [32]:
# 참과 거짓의 예
a = [1, 2, 3, 4]
while a: #a가 참인 동안
    a.pop() #리스트의 요소를 하나씩 꺼낸다
print(a)

[]

In [33]:
# 참과 거짓의 예 (if 문)
if []: #만약 []가 참이면
    print("참")
else: #만약 []가 거짓이면
    print("거짓")

거짓

In [34]:
# 참과 거짓의 예 (if 문)
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

In [35]:
# bool 내장함수
print(bool('python'))
print(bool(''))
print(bool([1, 2, 3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
False
True
False
False
True

In [36]:
# 변수 - id 함수
a = [1, 2, 3]
id(a)

3038147299264

In [37]:
# 변수 복사
a = [1, 2, 3]
b = a

print('a의 주소:', id(a))
print('b의 주소:', id(b))


print('a와 b는 같나?:', a is b)

a의 주소: 3038147306688
b의 주소: 3038147306688
a와 b는 같나?: True

In [38]:
# 변수 복사 2
a = [1, 2, 3]
b = a

a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [39]:
a = [1, 2, 3]
b = a[:] # 리스트 a의 처음 요소부터 끝까지 슬라이싱

a[1] = 4 #a 변수의 2번째 값 4로 변환

print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [40]:
# copy 모듈
from copy import copy
a = [1, 2, 3]
b = copy(a)

print(a)
print(b)
print('a와 b는 같나?:', a is b)

[1, 2, 3]
[1, 2, 3]
a와 b는 같나?: False

In [43]:
# 변수 만드는 방법
#1. 튜플로 a, b에 값 대입
a, b = ('python', 'life')
print((a, b))

#튜플은 괄호 생략 가능
print(a,b)

('python', 'life')
python life

In [44]:
#2. 리스트로 변수 만들기
[a, b] = ['python', 'life']
print([a, b])

['python', 'life']

In [45]:
# 3. 여러 개의 변수에 같은 값 대입하기
a = b = 'python'
print(a)
print(b)

python
python

In [46]:
# 변수의 값 간단히 바꾸기
a = 3
b = 5
a, b = b, a #a와 b의 값을 바꿈
print(a)
print(b)

5
3