In [2]:
# 함수
def add(a, b): #a, b는 매개변수
    return a + b

print(add(3, 4)) # 3, 4는 인수

7

In [3]:
def say():
    return 'Hi'

a = say()
print(a)

Hi

In [4]:
# 매개변수 지정하여 호출하기
result = add(a=3, b=7)
print(result)

10

In [5]:
# 매개변수 지정하면 순서 무관하게 사용가능
result = add(b = 5, a =3)
print(result)

8

In [9]:
# 여러 개의 입력값을 모두 더하는 함수 생성.
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

result = add_many(1, 2, 3)
print(result)

result1 = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result1)

6
55

In [22]:
# 여러 개의 입력 처리할 때
def add_mul(choice, *args):
    if choice == "add": #매개변수 choice에 'add'를 입력받았을 때
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul": #매개변수 choice에 'mul'을 입력받았을 때
        result = 1
        for i in args:
            result = result * i #args 에 입력받은 모든 값을 곱한다
    return result

In [23]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [24]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [25]:
# 키워드 파라미터
def print_kwargs(**kwargs):
    print(kwargs)

In [26]:
print_kwargs(a=1)

{'a': 1}

In [27]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [29]:
def add_and_mul(a,b):
    return a+b, a*b

In [32]:
result = add_and_mul(3,4)
print(result)

(7, 12)

In [35]:
# 하나의 튜플 값을 2개의 결괏값처럼 받고 싶다면
result1, result2 = add_and_mul(3,4)
print(result1, result2)

7 12

In [37]:
# return문 2번
def add_and_mul(a,b):
    return a+b
    return a*b #실행되지 않음

result = add_and_mul(3,4)
print(result)

7

In [40]:
# return의 또다른 쓰임새
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s 입니다." % nick)

In [41]:
say_nick('멍청이')

나의 별명은 멍청이 입니다.

In [42]:
say_nick('다람쥐')

나의 별명은 다람쥐 입니다.

In [43]:
say_nick('바보')

In [49]:
# 매개변수에 초기값 미리 설정하기
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d 살 입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [50]:
say_myself("김똥개", 32)

나의 이름은 김똥개 입니다.
나이는 32 살 입니다.
남자입니다.

In [51]:
say_myself("김똥개", 32, True)

나의 이름은 김똥개 입니다.
나이는 32 살 입니다.
남자입니다.

In [52]:
say_myself("이말순", 32, False)

나의 이름은 이말순 입니다.
나이는 32 살 입니다.
여자입니다.

In [53]:
# 함수 안에서 선언한 변수의 효력 범위
a = 1 #함수 밖의 변수 a
def vartest(a):
    a = a + 1 #vartest 함수 선언

vartest (a) #vartest 함수의 입력값으로 a를 줌
print(a) #a 값 출력

1

In [54]:
# 함수 안에서 함수 밖의 변수 변경
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a) #vartest(a)의 결괏값을 함수 밖의 변수 a에 대입
print(a)

2

In [56]:
# 함수 안에서 함수 밖의 변수 변경 2.global
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

In [57]:
# lambda
add = lambda a, b: a+b
result = add(4, 5)
print(result)

9

In [58]:
def add(a, b):
    return a + b

result = add(4, 5)
print(result)

9

In [1]:
# 짝수 홀수 판별 코드
def is_odd(number):
    if number % 2 == 1:
        return True
    else:
        return False

In [2]:
is_odd(3)

True

In [3]:
is_odd(4)

False

In [18]:
# lambda 사용
is_odd = lambda x: True if x % 2 == 1 else False

In [19]:
is_odd(3)

True

In [20]:
is_odd(12)

False

In [12]:
# 입력으로 들어오는 모든 수의 평균 값을 계산
def avg_nubmers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

In [13]:
avg_nubmers(1, 2)

1.5

In [14]:
avg_nubmers(1,2,3,4,5)

3.0